.gda1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gda1 .inset-shadow-img {
    margin-left: 130px;
    width: 670px;
    height: 560px;
    overflow: hidden;
    background-image: url("../img/png/avasta-tartut.png");
    background-size: cover;
    background-position: center;
}

.gda1 .text-box-wrapper {
    width: 45%;
}

.gda1 .text-box {
    background-color: #F3F3F3;
}


#graafilise-disaini-alused .text-box ul {
    margin-left: 40px;
    list-style: disc;
}

.gda1 .text-box ul ul {
    margin-left: 20px;
    list-style: decimal !important;
}

.gda2 .inset-shadow-img {
    width: 50%;
    height: 500px;
    overflow: hidden;
    background-image: url("../img/png/rosabella.png");
    background-size: cover;
    background-position: center;
}

.gda2 .text-box-wrapper {
    width: 35%;
    margin: 100px 0 0 36px
}

.gda2 .text-box {
    padding: 20px;
    background-color: #F3F3F3;
    border: 20px solid var(--orange);
}

.gda3 {
    justify-content: space-between;
}

.gda3 .inset-shadow-img {
    width: 40%;
    height: 500px;
    margin-right: 40px;
    overflow: hidden;
    background-image: url("../img/png/lion.png");
    background-size: cover;
    background-position: center;
}

.gda3 .text-box-wrapper {
    width: 40%;
    margin-left: 250px
}

.gda3 .text-box {
    padding: 50px;
    background-color: var(--orange);
}

.gda4 .inset-shadow-img {
    height: 600px;
    background-image: url("../img/png/penguins.png")
}

.gda4 .text-box-wrapper {
    margin-top: 200px;
    width: 40%;
}

.gda4 .text-box {
    padding: 50px 150px 50px 50px;
    border: none;
}

.gda5 .inset-shadow-img {
    width: 40%;
    background-image: url("../img/png/clearmind1bottle.png");
    background-size: cover;
    background-position: center;
}

.gda5 .text-box-wrapper {
    width: 45%;
    margin-right: 60px;
}

.gda6 {
    justify-content: center;
    gap: 80px;
}

.gda6 .text-box-wrapper {
    width: 30%;
}

.gda6 .text-box-wrapper.bordered {
    width: 40%;
}

.gda6 .text-box {
    background-color: #F3F3F3;
}

.gda6 .text-box-wrapper.bordered .text-box {
    padding: 20px;
    border: 20px solid var(--orange);
}

.gda7 .inset-shadow-img {
    width: 58%;
    height: 700px;
    margin: 0;
    background-image: url("../img/png/nopecards.png");
}

.gda7 .text-box-wrapper {
    width: 38%;
    margin-top: -150px;
}

.gda7 .list-title {
    font-weight: 600;
}

#graafilise-disaini-alused .text-box-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#graafilise-disaini-alused .text-box-wrapper {
    height: max-content;
}