.prktk1 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start !important;
}

.prktk1 .inset-shadow-img {
    width: 40%;
    height: 800px;
    margin-left: 90px;
    overflow: hidden;
    background-image: url("../img/png/iglu-loeng1.png");
    background-size: cover;
    background-position: center;
}

.prktk1 .text-box-wrapper {
    width: 62%;
    margin-right: -200px;
    margin-top: 60px;
    z-index: 10;
}

.prktk1 .text-box {
    background-color: var(--gray);
}

.prktk2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start !important;
}

.prktk2 .inset-shadow-img {
    width: 40%;
    height: 785px;
    margin-right: 40px;
    overflow: hidden;
    background-image: url("../img/png/iglu-loeng2.png");
    background-size: cover;
    background-position: center;
}

.prktk2 .text-box-wrapper {
    width: 55%;
    z-index: 10;
}

.prktk2 .text-box {
    padding: 50px;
    background-color: var(--gray);
}

.prktk2 .text-box-wrapper2 {
    width: 50%;
    z-index: 10;
    margin: 0 0 200px 50px;
}

.prktk2 .text-box-wrapper2 .text-box-title {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.prktk2 .text-box-wrapper2 ul {
    list-style: disc;
    margin-left: 40px;
}

.prktk2 .text-box2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background-color: var(--gray);
}

.list-title {
    font-weight: 600;
}

.white-box-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: white;
}