
.reflection-wrapper {
    width: 70vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.reflection-pad {
    width: 80%;
    height: max-content;
    padding: 50px 40px 50px 40px;
    background: var(--gray);
}

p {
    font-size: clamp(16px, 1.5vw, 20px);
}

strong {
    font-size: clamp(16px, 1.5vw, 20px);
}

strong {
    font-weight: 600;
}

.kolmpunkti {
    width: 100%;
    height: min-content;
    margin-top: 40px;
    padding: 30px;
    background: white;
}
