
.bshadow {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

.pic-and-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 144px 0;
}

.profile-pic {
    background-image: url("../img/jpg/profile-pic.jpg");
    width: 440px;
    height: 450px;
    background-size: cover;
    background-position: center;
}

.desc-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    width: 50%;
    margin-left: -50px;
    background-color: var(--gray);
}

.content.showcase {
    display: flex;
    gap: 100px;
    flex-direction: column;
    padding: 50px;
    margin-bottom: 200px;
}

.quote-wrapper {
    width: 100%;
    text-align: center;
}

.quote {
    font-size: clamp(32px, 5vw, 40px);
    font-weight: 400;
    line-height: 150%; /* 54px */
    letter-spacing: 3.06px;
}

.quote-author {
    font-size: clamp(16px, 4vw, 24px);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.7px;
}

span.highlight {
    background-color: var(--orange);
}

.skillbox-wrapper {
    background-color: var(--gray);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.skillbox-intro-text {
    display: flex;
    flex-direction: column;
}

.skills-graph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0 50px 0;
}